<h1>My Name is <%= @name %></h1>
<div style="border:4px dashed red;">
<img src="https://i.imgur.com/jFaSxym.png">
<!-- code for embedding an image to a website img src is the source followed by the data source --> 
</div> 

<% %>